# Editor configuration, see https://editorconfig.org for more details.
root = true

[*.{c,h,cpp,hpp}]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = tab
insert_final_newline = true
trim_trailing_whitespace = true